<div class="row">
<% @strikes.each do |strike| %>
  <div class="col s12 m2">
  <div class="card #006064 cyan darken-4 hoverable">
    <div class="card-content white-text">
      <span class="card-title">
        <a class='get-drone-info' href='<%= "/dronestrikes/#{strike.id}" %>'">
          <%= strike.strike_date %>
        </a>
      </span>
      <p><%= strike.country %> | <%=strike.total_deaths %> killed</p>
      <div class='additional-info'>

      </div>
    </div>
    <div class="card-action">
      <a href='<%= strike.link %>'>Link to story</a>
      <a href='<%= "http://maps.google.com/?ll=#{strike.latitude},#{strike.longitude}" %>'>Map</a>
    </div>
    </div>
  </div>
<% end %>
</div>
<div id="lightbox">
  <span id='close-button'>&times;</span>
  <div id='lightbox-content'>
  <h1 style="color:red">Drone content here</h1>
  </div>
</div>

<script type="text/javascript">
  const lightbox = document.querySelector('#lightbox');
  const closeButton = document.querySelector('#close-button')
  const links = document.querySelectorAll(".get-drone-info");

  openLightBox = () => {
    lightbox.style.display = 'block';
  }
  closeLightBox = () => {
    lightbox.style.display = 'none';
  }

  links.forEach(link => {
    link.addEventListener('click', openLightBox);
  });
  closeButton.addEventListener('click', closeLightBox);
</script>>  
